
div {
  display: flex;
  justify-content: center;
}

body {
  background-color: #F7FBFD;
  font-family: 'Montserrat';
}

.home {
  background-color: #EBF1F4;
}

#root {
flex-direction: column;
align-items: center;
}

.grid-container {
  flex-direction: column;
  }

.left-align {
  align-items: flex-start;

}

.right-align {
  align-items: flex-end;
}

/** Navbars **/

.home-navbar a {
  float: left;
  color: #3E3E3F;
  text-align: center;
  padding: 30px 16px;
  font-weight: 600;
  font-size: 25px;
  text-decoration: none;
}

.home-navbar-right a{
  float: right;
  }

.home-navbar a:hover {
  background-color: #EBF1F4;
  color: #7C7CFF;
}
  
.home-board {
z-index: 5;
padding-top: 20px;
padding-bottom: 85px;
}

.navbar a {
  float: left;
  color: #3E3E3F;
  text-align: center;
  padding: 30px 16px;
  font-weight: 600;
  font-size: 25px;
  text-decoration: none;
  background-color: #EBF1F4;
}

.navbar a:hover {
  color: #7C7CFF;
}


/** Footer **/
.footer {
  background-color: #EBF1F4;
  }
  
.footer-logo {
justify-self: center;
}

.footer-contact {
display: flex;
flex-direction: column;
position: absolute;
left: 100px;
height: 205px;
font-size: 20px;
font-weight: 600px;
}

.footer-contact-logos {
  padding: 20px 20px;
}

.footer-row {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 150px;
}

/** PROJECTS **/

.home-project-row {
flex-direction: row;
justify-content: space-between;
padding: 75px 180px; 
}

.home-project-row:nth-child(1){
margin-top: -180px;
padding-top: 200px;
background: linear-gradient(180deg, #EBF1F4 8.63%, #F7FBFD 19.15%);
}

.home-project-row:not(:first-child):nth-child(odd){
background: #F7FBFD;
}
.home-project-media {
  max-width: 45%;
  }

.home-project-media-image {
  object-fit: contain;
  height: 100%;
  width: 100%;
  }

.home-project-more-details {
flex-direction: column;
width: 45%;
}

.home-project-title a{
  color: #3E3E3F;
  font-size: 45px;
  font-weight: 600;
  padding-bottom: 20px;
}

.home-project-title a:link{
  text-decoration: none;
}

.home-project-title a:visited{
  text-decoration: none;
}

.home-project-text a{
  color: #3E3E3F;
  padding-bottom: 20px;
}

.home-project-text a:link{
  text-decoration: none;
}

.home-project-text a:visited{
  text-decoration: none;
}

/** ABOUT ME STYLING **/

.about-me-header {
  font-size: 30px;
  font-weight: 600px;
  padding-top: 70px;
  float: left;
}

.about-me-text {
  font-size: 18px;
  line-height: 26px;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 10px;
  padding-bottom: 10px
}

.about-me-image-row {
  flex-direction: row;
  justify-content: space-between;
  padding: 75px 180px; 
  }

.about-me-image-caption {
  font-size: 12px;
  font-family: 'Arvo', serif;
  
}

.about-me-images {
  object-fit: contain; 
  padding-top: 10px;
  padding-bottom: 20px;
}

/** CASE STUDIES **/
.case-study-context-bar {
  padding: 50px;
}

.case-study-body-text {
  font-size: 16px;
  line-height: 26px;
}

.case-study-header-text{
  font-size: 30px;
  padding: 30px; 
  font-weight: 600px;
}

.case-study-subheader-text{
  font-size: 18px;
  font-weight: 600px;
  padding: 20px;

}

.case-study-images {
  object-fit: contain; 
}

.case-study-images-caption {
  object-fit: contain;
  padding-top: 50px;
}

.case-study-captions {
  font-size: 14px;
  padding: 20px;
}

.case-study-links {
  text-decoration: none;
}